<ng-template #customLoadingTemplate></ng-template>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

<div class="form-group row">
  <label>รหัสพนักงาน : </label>
  <div class="col-sm-3"><input type="string" disabled [(ngModel)]="idPersonnel" class="form-control"></div>
</div>
<div class="form-group row">
  <label>อีเมล์ : </label>
  <div class="col-sm-4"><input type="email" disabled [(ngModel)]="emailPersonnel" class="form-control"></div>
</div>   
<div class="form-group row">
  <label>คำนำหน้า : </label>
  <mat-form-field>
      <mat-select [(ngModel)]="perfixPersonnel">
          <mat-option *ngFor="let item of perfix" [value]="item.value">
              {{item.value}}
          </mat-option>
      </mat-select>
  </mat-form-field>
  <label>ชือ : </label>
  <div class="col-sm-2"><input [formControl]="firstname" pattern="^[กขฃคฅฆงจฉชซฌญฎฏฐฑฒณดตถทธนบปผฝพฟภมยรฤลฦวศษสหฬอฮฯะัาำิีึืฺุูเแโใไๅๆ็่้๊๋์]+$" [(ngModel)]="firstnamePersonnel" class="form-control"></div>
  <label>นามสกุล : </label>
  <div class="col-sm-2"><input [formControl]="lastname" pattern="^[กขฃคฅฆงจฉชซฌญฎฏฐฑฒณดตถทธนบปผฝพฟภมยรฤลฦวศษสหฬอฮฯะัาำิีึืฺุูเแโใไๅๆ็่้๊๋์]+$" [(ngModel)]="lastnamePersonnel" class="form-control"></div>
</div>
<div class="form-group row">
  <label>เบอร์โทร : </label>
  <div class="col-sm-3"><input [formControl]="number" pattern="^[0-9]{10,10}$" [(ngModel)]="numberPersonnel" class="form-control"></div>
</div> 
<div class="row">
  <div class="col-6 text-left"></div>
  <div class="col-6 text-right" (click)="editPersonnel()">
    <button type="submit"  class="btn btn-primary">
      <i class="fa fa-lock" aria-hidden="true"></i>
      แก้ไขข้อมูลพนักงาน
    </button>
  </div>
</div>     
<div *ngIf="firstname.errors?.pattern" class="Error">*ชื่อไม่ถูกต้อง ต้องเป็นภาษาไทยเท่านั้น</div>
<div *ngIf="lastname.errors?.pattern" class="Error">*นามสกุลไม่ถูกต้อง ต้องเป็นภาษาไทยเท่านั้น</div>
<div *ngIf="number.errors?.pattern" class="Error">*เบอร์โทรไม่ถูกต้อง ต้องเป็นตัวเลขทั้งหมด 10 ตัว เท่านั้น</div>
<div text-center class="Error">{{message}}</div>    
            
            
            
            
            

